#cssmenu {
  display: block;
  width: auto;
  font-family: Helvetica, Arial, sans-serif;
  color: rgb(60, 178, 178);
  padding:0 150px 0 0;
  height: 50px;
  line-height:50px;
  vertical-align:middle
}

#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight:bold;
}
#cssmenu ul li, #cssmenu ul li label {
   cursor: pointer;
   text-align: center;
}
#logo {
	width: 300px;
	font-size:40px;
	float: left;
	margin-left: 150px;
}
#logo img {
	width: 300px;
}
#cssmenu li, #cssmenu #logo, #cssmenu #logo label {
	float:left;
}
#cssmenu #logo label.font-14{
    font-size:18px;
	position:relative;
	top:7px;
}
#cssmenu.align-right ul li {
  float: right;
  border-right: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.22);
}
#cssmenu.align-right ul li a {
  border-right: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}

/*Custom menu*/
#cssmenu ul li.empty-menu-li {
	width: 24%;
	height: 32px;
}
#cssmenu ul li a{
	text-align:center;
	text-decoration: none;
	color: rgb(60, 178, 178);
}
li.al-lt {
	float:left !important;
}
li.al-rt {
	float:right !important;
}
li.menu-list {
	width: 125px !important;
}
#cssmenu ul li:hover, #cssmenu ul li a:hover, #cssmenu ul li.active a, #cssmenu ul li.active{
	color: #000;
}