@charset "utf-8";
/* CSS Document */

/**/
body {
	min-width:1200px;
	min-height:100% !important;
}
#main {
	padding: 0 150px 0 150px;
	background: #F0F0F0;
	min-height:100%;
}
#image-content, #image-content img{
	height : 500px;
	/*background-image:url(../images/houseboat-2.jpg);
	background-repeat: no-repeat;
	background-size: contain;*/
}
#image-content img{
	width : 100%;
}
#maincontent {
	padding: 20px 0 10px 0;
	overflow:auto;
}
/*** Header ***/
#header {
	font-size: 24px;
	margin: 10px 150px 0 150px;
}
#header, #header #contact-no{
	height : 32px;
}

#header #contact-no {
	/*float: right;*.
	/* width: 299px; */
	/*margin-top: 10px;*/
	margin-right: 40px;
	padding-top: 0px;
	text-align: center;
	vertical-align: middle;
	border: 0px;
/* margin-top: 10px; */
	line-height: 32px;
	display:inline-block;
	color: #000;
	font-size:21px;
	float:right;
	color: #458B00;
}
#header #contact-no img {
    height : 14px;
}
#header ul,
#header ul li {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#header #social-media{
	float:right;
}
#header #social-media ul li{
	float:left;
}
#header #social-media .fb {
	height:30px;
	width:30px;
	background: url(../images/soc-med.jpg);
	position:relative;
	background-position: 455px 182px;
}
#header #social-media .twitter {
	height:30px;
	width:30px;
	background: url(../images/soc-med.jpg);
	position:relative;
	background-position: 185px 86px;
}
/**** Header Ends ****/

/*Footer code here*/
#footer {
	float: left;
	background: url(../images/bg_footer.jpg) repeat-x top left;
	height: 20px;
	width: 100%;
	padding: 10px 0;
	bottom:0;
	position:relative;
}
/*Footer Ends Here*/

/* Modal window popup*/
/* [Object] Modal
 * =============================== */
.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .9);
  transition: opacity .25s ease;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  height: 50%;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
	
  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}


/* Other
 * =============================== */
body {
  font: 1/1.5em sans-serif;
  text-align: center;
}

.btn {
  cursor: pointer;
  background: #27ae60;
  display: inline-block;
  padding: .5em 1em;
  color: #fff;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  background: #2ecc71;
}

.btn:active {
  background: #27ae60;
  box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}

.btn--blue {
  background: #2980b9;
}

.btn--blue:hover,
.btn--blue:focus {
  background: #3498db;
}

.btn--blue:active {
  background: #2980b9;
}

p img {
  max-width: 200px;
  height: auto;
  float: left;
  margin: 0 1em 1em 0;
}

.block-content {
	width: 100%;
	/*background-color: #cecece;*/
}
.block-content .inner-content {
	width: 50%;
	float: left;
}
.inner-content .inner-title {
	text-align: center;
	margin: 5 0 10 0;
	font-size: 18px;
	font-weight: bold;
}

.booking-tips li {
	text-align: left;
	margin-bottom: 20px;
	list-style-type: circle;
}